---
{% if manuscript.metadata_yaml is defined and not exclude_manuscript %}{{ manuscript.metadata_yaml }}{% endif %}{% if supplement.metadata_yaml is defined %}{{ supplement.metadata_yaml }}{% endif %}---

{{ manuscript.content }}

{% if include_supplement and supplement is defined %}{{ supplement.content }}{% endif %} 

